body {
    background-color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: teal;
}

#navbar-micah {
    color: #ffffff;
    background-color: teal;
}

.container {
    max-width: 960px;
    min-width: 300px;
    
}

#jumbotron-custom {
    background-color: #ffffff;
    min-width: 300px;
}
#port-selfie {
    height: 200px;
    width: 200px;
    max-height: 700px;
    max-width: 700px;
    min-height: 150px;
    min-width: 150px;
}
#port-pic {
    max-height: 300px;
}
.portfolio-text {
  float: left;  
}

@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
